<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProxyNeeded" value="false" />
		<add key="ProxyUserId" value="user" />
		<add key="ProxyPassword" value="pass" />
		<add key="ProxyDomain" value="CENTRAL" />
		<add key="ProxyAddress" value="proxz.tottb.gt.corp" />
		<add key="ProxyPort" value="8080" />

		<add key="DataBaseEngine" value= "MsAccess" />
		<add key="DataBaseEngine1" value= "MsAccess" />
		<add key="DataBaseEngine2" value= "Sqlite" />
		<add key="DataBaseEngine3" value= "MySql" />

		<add key="DataBaseLocation" value= "\Resources\ProgArchives2010.mdb" />
		<add key="DataBaseLocation1" value= "Resources\ProgArchives2010.mdb" />
		<add key="DataBaseLocation2" value= "\Resources\ProgArchives2010.sqlite" />
		<add key="DataBaseUser" value= "" />
		<add key="DataBasePassword" value= "" />
	</appSettings>
</configuration>